//variables
$color_letra: white;
/* reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{

  header{

    display: flex;
    justify-content: center;
    align-items: center;
    h1{
      padding-right: 1em;
      padding-left: 1em;
    }
    img{
      border-radius: 5em;
      width: 6em;
    }
    button{
      background-color: darkgray;
      width: 8em;
      height: 2.5em;
      border-radius: 0.8em;
    }
    button:hover{
      background-color: aquamarine;
    }
  }

  main{
    background-color: #1E3E51;
    margin-top: 1em;
    margin-left: 7em;
    margin-right: 7em;
    .imagen{
      padding-top: 1em;
      margin: auto;
      text-align: center;
    }
    section{
      display: flex;
      color: $color_letra;
      margin-top: 2em;
      .texto1 {

      }
      .texto2 {
        padding-left: 5em;
        height: 20em;
        overflow: auto;
      }
      .texto3 {

        height: 20em;
        overflow: auto;
      }
      .texto4{
        padding-left: 5em;
      }

    }

  }

}