h2 out now
div.disc
    a(target="_blank", href="http://www.cutsandstitches.com/product/and-the-battle-royale-cddvd-ltd-digipack")
        +imagePost("TheUnguideTBR.png")
h2 social media
div.socialMedia

    h2 twitter
    h2 instagram