block contenDisc
    div.disc
        +imagePost("loathing.jpg")
        p buy at:
        a(target="_blank", href="http://www.cutsandstitches.com/product/lust-and-loathing-cd-digipack", title="Web-shop")
            i(class="fa fa-shopping-cart fa-4x", aria-hidden="true")
        a(target="_blank", href="https://itunes.apple.com/se/album/lust-and-loathing/id1078292768", title="Itunes")
            i(class="fa fa-music fa-4x", aria-hidden="true")
        a(target="_blank", href="https://www.amazon.com/gp/product/B01ATVKMS4?ie=UTF8&*Version*=1&*entries*=0", title="Amazon")
            i(class="fa fa-amazon fa-4x", aria-hidden="true")
        a(target="_blank", href="https://open.spotify.com/album/46UEbU5tNTXGWNFJhHLLO7", title="Spotify")
            i(class="fa fa-spotify fa-4x", aria-hidden="true")
        div.lyrics
            p lyrics
            a(target="_blank", href="lyrics/LustandLoathinglyrics.pdf")
                i(class="fa fa-file-pdf-o fa-4x" aria-hidden="true")
        div.tracklist
            h3 LUST AND LOATHING
            p (Album // CD 2016)
            p 01. Enraged
                a(target="_blank", href="https://youtu.be/OLIUzK_b1cw")
                    i(class="fa fa-youtube", aria-hidden="true")
                    |   (Video)
            p 02. The Worst Day (Revisited)
                a(target="_blank", href="https://youtu.be/VzHkEGrsnRU")
                    i(class="fa fa-youtube", aria-hidden="true")
                    |   (Lyric Video)
            p 03. King of Clubs
            p 04. Heartseeker
                a(target="_blank", href="https://www.youtube.com/watch?v=qTYkMkik1A0")
                    i(class="fa fa-youtube", aria-hidden="true")
                    |   (Video)
            p 05. Phobos Grip
            p 06. Black Eyed Angel
            p 07. Operation: E.A.E
                a(target="_blank", href="https://youtu.be/SYxftdIlFSg")
                    i(class="fa fa-youtube", aria-hidden="true")
                    |   (Video)
            p 08. Boneyard
            p 09. Hate (And Other Triumphs)
            h4 LIMITED EDITION:
            p 10. Mercy
            p 11. Judgment
            p 12. Betrayer of The Code (Live)
            h4 JAPAN EDITION:
            p 13. Phoenix Down (Live)
            p Total running time: 58:43
            p Recorded, mixed and mastered in: Hansen Studios
            p Produced by: Jacob Hansen and The Unguided
            p Additional guitars recorded in: Studio Haga
            p Vocals recorded in: Studio Haga
            p Vocals recorded and produced by: Christian Svedin
            p Keyboards recorded in: PH Studios
            p Keyboards produced by: Pontus Hjelm and Roger Sjunnesson
            p Release by: Napalm Records
            p Release date: 2016-02-26
            p Art by: Kuang Hong
            p Layout by: Gustavo Sazes