block contentDisc
    div.disc
        +imagePost("battle.jpg")
        div.buyDisc
            p buy at:
            a(target="_blank", href="http://www.cutsandstitches.com/product/and-the-battle-royale-cddvd-ltd-digipack", title="Web-shop")
                i(class="fa fa-shopping-cart fa-4x", aria-hidden="true")
            a(target="_blank", href="https://itunes.apple.com/nz/album/and-the-battle-royale/id1282191604", title="Itunes")
                i(class="fa fa-music fa-4x", aria-hidden="true")
            a(target="_blank", href="https://www.amazon.com/Battle-Royale-Unguided/dp/B075CSV2W3/ref=sr_1_1?s=dmusic&ie=UTF8&qid=1508758259&sr=1-1-mp3-albums-bar-strip-0&keywords=the+unguided+and+the+battle+royale", title="Amazon")
                i(class="fa fa-amazon fa-4x", aria-hidden="true")
            a(target="_blank", href="https://open.spotify.com/album/60xMOzdPAgUpWYlnd8wmVI", title="Spotify")
                i(class="fa fa-spotify fa-4x", aria-hidden="true")
        div.lyrics
            p lyrics
            a(target="_blank", href="lyrics/AndTheBattleRoyale.pdf")
                i(class="fa fa-file-pdf-o fa-4x" aria-hidden="true")
        div.tracklist
            h3 AND THE BATTLE ROYALE
            p (Album // CD & DVD 2017)
            p 01. Death's Sting
            p 02. The Heartbleed Bug
                a(target="_blank", href="https://youtu.be/VzHkEGrsnRU")
                    i(class="fa fa-youtube", aria-hidden="true")
                    |   (Video)
            p 03. Legendary
                a(target="_blank", href="https://youtu.be/kiNhyxuFvcY")
                    i(class="fa fa-youtube", aria-hidden="true")
                    |  (Lyric Video)
            p 04. Dark Metamorphosis
            p 05. A Link to the Past
            p 06. Anchor Stone (of the World)
            p 07. Manipulate Fear
            p 08. Force of Nature
            p 09. King's Fall
            h4 LIMITED EDITION:
            p 10. Nighttaker
                a(target="_blank", href="https://youtu.be/jyTVnc6EQwQ")
                    i(class="fa fa-youtube", aria-hidden="true")
                    |  (Video)
            p 11. Daybreaker
            p 12. Nighttaker (Live)
            h4 JAPAN EDITION:
            p 13. Unguided Entity (Live)
            h4 EON'S END DVD:
            p 01. Becoming Death (Intro) (Live)
            p 02. Enraged (Live)
            p 03. King of Clubs (Live)
                a(target="_blank", href="https://youtu.be/dEYtCgdvQBU")
                    i(class="fa fa-youtube", aria-hidden="true")
                    |  (Video)
            p 04. Blodbad (Live)
                a(target="_blank", href="https://youtu.be/dEYtCgdvQBU")
                    i(class="fa fa-youtube", aria-hidden="true")
                    |  (Video)
            p 05. Heartseeker (Live)
            p 06. Green Eyed Demon (Feat. Christoffer Andersson) (Live)
            p 07. Unguided Entity (Live)
            p 08. Betrayer of the Code (Feat. John Bengtsson) (Live)
            p 09. Operation: E.A.E. (Live)
            p 10. Eye of the Thylacine (Live)
            p 11. Inherit the Earth (Live)
            p 12. The Worst Day (Revisited) (Live)
            p 13. Nighttaker (Live)
            p 14. Phoenix Down (Live)
            p 15. Hate (and Other Triumps) (Live)
            p Total running time: 01:47:35
            p Recorded, mixed and mastered in: Radionika Studios
            p Produced by: Dino Medanhodzic and The Unguided
            p Keyboards recorded in: PH Studios
            p Keyboards produced by: Pontus Hjelm and The Unguided
            p "Eon's End" DVD audio recorded, mixed and master by Christian Svedin
            p "Eon's End" DVD video recordings by Maluha Media and edited by Joel Nilsson.
            p Release by: Napalm Records
            p Release date: 2017-11-10
            p Art by: Kuang Hong
            p Layout by: Gustavo Sazes