div.logoFooter
    +imagePost("logoFooter.png")
p the unguided &copy; 2017 all rights reserved - site by
    a(target="_blank", href="https://github.com/juancarlosvim")
        i(class=iconGithub, aria-hidden="true")
        | juancarlosvim
    | - band photo by joel nilsson. the unguided.com the unofficial website
