h1 news of the fallen
article
    h3 The Unguided at Denim & Leather (Jönköping)
    h4 posted in
        strong  Jaunary 14th 2018
    div.imagePost
        +imagePost("jan_14_2018.jpg")
    p First The Unguided show in 2018 will take place in Jönköping (Sweden) at "Denim & Leather Rock Club"! More info in the tour section
article
    h3 Xmas greetings 2017
    h4 posted in
        strong  December 26th 2017
    div.youtubeVideo
        +video("https://www.youtube.com/embed/hq5EtrpMzJ8")
    p The annual Xmas greeting from The Unguided! A fine tradition since 2010. Follow the band on their Scandinavian tour with Soilwork. Thanks everyone for your support and to a fantastic year! 2018 here we come \m/ Video by: Carl Thorén Productions

article
    h3 The Unguided to play at Nummirock 2018
    h4 posted in
        strong  December 16th 2017
    div.imagePost
        +imagePost("dec_16_2017.jpg")
    p The Unguided is coming back to Finland in 2018 to play at the annual Nummirock festival! More info in the tour section.
article
    h3 Black friday!
    h4 posted in
        strong  November 23th 2017
    div.imagePost
        +imagePost("nov_23_2017.jpg")
    p 25% discount on selected items in the web shop. Check it out!
article
    h3 And The Battle Royale released!
    h4 posted in
        strong  November 18th 2017
    div.imagePost
        +imagePost("nov_18_2017.jpg")
    p We just came back from a few incredible shows with Soilwork and it was truly great to open for such amazing act and above all; finally get to release out latest monster; “And The Battle Royale”! By the looks of it, you seem to enjoy it quite a bit and that fact makes us utterly satisfied. As you can see this space got a bit of face lift, there’s more to come as wallpapers will be uploaded and some other minor tweaks. But the rest should be up to date and you can also find the lyrics to “And The Battle Royale” under the “Releases” page. Enjoy!
div.moreNews
    a(href="#") read the news archives