h1 news of the fallen
article
    h3 Xmas greetings 2017
    p posted in
        strong  December 26th 2017
    div.youtubeVideo
    p The annual Xmas greeting from The Unguided! A fine tradition since 2010. Follow the band on their Scandinavian tour with Soilwork. Thanks everyone for your support and to a fantastic year! 2018 here we come \m/ Video by: Carl Thorén Productions

article
    h3 The Unguided to play at Nummirock 2018
    p posted in
        strong  December 16th 2017
    div.imagePost
    p The Unguided is coming back to Finland in 2018 to play at the annual Nummirock festival! More info in the tour section.