block variables
    include ../config/variables
      - var currentPage = 0
      - var webpageTitle = "The Unguided Unofficial website | "+names[currentPage]
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/styles.css")
    block link-css
    link(rel="stylesheet", href="font-awesome-4.7.0/css/font-awesome.css")
    title #{webpageTitle}
  body
    header
      include ../blocks/header
    main
      section
        block content
          include ../blocks/section

      aside
        include ../blocks/aside

    footer
      include ../blocks/footer