- var logoTelepizza = "img/logo.png"
- var ruta  = "img/"
- var telefono = "902 112 122"
- var enlacesSocial = ["https://www.facebook.com/telepizza", "https://twitter.com/#!/telepizza_es", "https://www.youtube.com/user/TelepizzaEsp", "https://plus.google.com/107705828647603184328/posts", "https://instagram.com/telepizza_es"]
- var imagenesSocial = ["ico_facebook.png", "ico_twitter.png", "ico_youtube.png", "ico_googleplus.png", "ico_instagram.png"]
