@import "variables";
/* page media */
.media{
  a{
    color: $colour-section_p;
  }
  a:hover{
    color: $colour_a-hover;
  }
  i{
    padding: 0.67em;
  }
  h3{
    font: $font_main;
  }
  h3{
    color: $colour-section_p;
    padding: 0.5em 0.5em;
    text-transform: uppercase;
    text-align: center;
  }
  p {
    color: $colour-section_p;
    padding: 0.5em 0.5em;
    text-transform: uppercase;
    text-align: center;
  }


}
.officialYoutube{
  text-align: center;
}
.wallpapers{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  a{
    width: 50%;
    padding: 1em;
  }
  img{
    width: 100%;

  }
}
.videoOfficial{

  .youtubeVideo{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  iframe{
    padding: 1em;
    width: 50%;
    min-height: 25em;
  }
}


/* end page media */