@import "variables";

/* releases */
.releases{
  display: flex;
  justify-content: center;
  flex-direction: column;
  p{
    padding: 0.67em;
    color: $colour-section_p;
    font: $font_main;
    text-transform: uppercase;
  }
  a{
    padding: 1em;
    color: $colour-section_p;

  }
  a:hover{
    color: $colour_a-hover;
  }
  .lyrics{
    padding: 0.67em;
  }
  .disc{
    text-align: center;

  }
  .buyDisc{
    margin-bottom: 0.67em;
  }
  .tracklist{
    margin: auto;
    padding: 1em;
    border: 0.1em dotted $colour-section_p;
    margin-bottom: 0.67em;
   width: 80%;
    h3{
     color: $colour-section_p;
    }
    h4{
      padding: 0.67em;
      color: $colour-section_p;
    }
    p{
      padding: 0.2em;
      color: $colour-section_p;
    }
    a{
      padding: 0.2em;
      text-decoration: none;
      color: $colour-section_a;
    }
    a:hover{
      color: $colour-section_p;
    }


  }
}

/* end releases */