@import "variables";
/* story*/
  .story{
    h4{
      color: $colour-section_p;
      margin: 1em 0;
      padding: 0.5em 0.5em;

    }

    article{
      border-bottom: 0.2em dotted $colour-section_p;
    }


    strong{
      color: $colour-section_p;
      padding: 0.5em 0.5em;
    }
    p{
      padding: 0.5em 0.5em;
    }

  }

/*
 end story
 */