@import "_variables.scss";
*,
::after,
::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* font */
@font-face {
  font-family: 'roughtypewriterregular';
  src: url($font_path);
}
/* end font */
header{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url($fondo_imagen-header);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50em;



  nav{
    margin-top: 6em;
    background-color: $background-colour-nav;
    padding: 1em;
    li{
      display: inline-block;
      a{
        padding: 0 0.2em;
        text-decoration: none;
        color: $colour_nav;
        font-family: $font_main;
        text-transform: uppercase;
        font-size: $font-size_nav;
      }
      a:hover{
        color: $colour_a-hover;
      }
    }
    .social{
      display: inline;
    }
  }
}
main{
  display: flex;
  justify-content: space-between;
  background-color: red;
}
section{
  background-color: $background-colour-section;
  flex: 1 100%;
  h1{

    font-family: $font_main;
    text-align: center;
    text-transform: uppercase;
    background-color: $background-colour-section_h1;
    color: $colour_nav;
    padding: 0.5em;


  }
  article{
    margin-top: 1em;
    h3{
      color: $colour-section_p;
      text-transform: uppercase;
      padding: 0.5em 0.5em;
    }
    h4{
      color: $colour-section_p;
      padding: 0 0.5em;
    }

    .youtubeVideo{
      text-align: center;
      iframe{
        width: 50%;
        height: 30em;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .imagePost{
      margin-top: 0.67em;
      text-align: center;
      img{
        width: $imgPostWith;
      }
    }

    p{
      padding: 0 0.5em;
      color: $colour-section_p;
    }
  }

  .moreNews{
    text-align: center;
    margin-top: 0.5em;
    a{
      font-family: $font_main;
      text-decoration: none;
      text-transform: uppercase;
      font-size: $font-size-section_a;
      color: $colour-section_a;
    }
    a:hover{
      color: $colour_nav;
    }
  }

}





/* page contact*/
.contact{
  color: $colour-section_p;
  text-align: center;
  h2{
    font-family: $font_main;
    text-transform: uppercase;
  }
  a{
    text-decoration: none;
    color: $colour-section_p;
    i{
      margin: 0.67em 0;
      display: block;
    }
  }
  a:hover{
    color: $colour_a-hover;
  }
}
/* end contact */
aside{
  background-image: url($fondo_imagen-aside);
  background-repeat: no-repeat;
  background-size: cover;

  .disc{
    text-align: center;
    img{
      width: 90%;
    }
  }

  h2{

    text-align: center;
    font-family: $font_main;
    text-transform: uppercase;
    color: $colour_nav;

  }
}

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $background-colour-nav;
  font-family: $font_main;
  text-transform: uppercase;
  color: $colour_nav;
  img{
    padding: 0 1em;
  }
  p{
    margin-left: auto;
    margin-right: auto;
  }
  a{
    text-decoration: none;
    color: $colour_nav;

  }
  a:hover{
    color: $colour_a-hover;
  }
  i{
    padding: 0.3em;
  }
}

//resolution mobile

@media screen and (max-width: $resolution_S7) {
  header{
    background-image: url("../img/movil.jpg");


    nav{
      display: flex;
      flex-direction: column;
      li{
        display: block;
      }
      .social{
        li{
          display: inline;
        }
      }
    }

  }

  main{
    display: flex;
    flex-direction: column;
    section{
      display: flex;
      flex-direction: column;

      img{
        width: 80%;
      }
      article{
        .youtubeVideo {
          iframe {
            width: 80%;
            height: 20em;
          }
        }
      }
      .youtubeVideo {
        iframe {
          width: 100%;
          height: 20em;
        }
      }
    }
  }


  footer{
    display: flex;
    flex-direction: column;

    p{
      text-align: center;
      padding: 1em;

    }
  }

}