//variables
$font_main: roughtypewriterregular;
$colour_nav: #f3f3f3;
$background-colour-nav: #333333;

$colour_a-hover: #5C5F66;
$font-size_nav: 1.5em;
$font-size-section_a: 2em;
$background-colour-section: #000000;
$background-colour-section_h1: #5C5F66;
$background-colour-aside: #00263E;
$colour-section_p: #bebeaf;
$colour-section_a: #057911;
$fondo_imagen-header: "../img/background-image_TheUnguided2.jpg";
$fondo_imagen-aside: "../img/aside.jpg";
$font_path: "../fonts/rough_typewriter/rough_typewriter.otf";
*,
::after,
::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* font */
@font-face {
  font-family: 'roughtypewriterregular';
  src: url($font_path);
}
/* end font */
header{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url($fondo_imagen-header);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50em;



  nav{
    margin-top: 6em;
    background-color: $background-colour-nav;
    padding: 1em;
    li{
      display: inline-block;
      a{
        padding: 0 0.2em;
        text-decoration: none;
        color: $colour_nav;
        font-family: $font_main;
        text-transform: uppercase;
        font-size: $font-size_nav;
      }
      a:hover{
        color: $colour_a-hover;
      }
    }
    .social{
      display: inline;
    }
  }
}
main{
  display: flex;
  justify-content: space-between;
  background-color: red;
}
section{
  background-color: $background-colour-section;
  flex: 1 100%;
  h1{

    font-family: $font_main;
    text-align: center;
    text-transform: uppercase;
    background-color: $background-colour-section_h1;
    color: $colour_nav;
    padding: 0.5em;


  }
  article{
    margin-top: 1em;
    h3{
      color: $colour-section_p;
      text-transform: uppercase;
      padding: 0.5em 0.5em;
    }
    h4{
      color: $colour-section_p;
      padding: 0 0.5em;
    }

    .youtubeVideo{
      text-align: center;
      iframe{
        width: 50%;
        height: 30em;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .imagePost{
      text-align: center;
    }
    p{
      padding: 0 0.5em;
      color: $colour-section_p;
    }
  }

  .moreNews{
    text-align: center;
    margin-top: 0.5em;
    a{
      font-family: $font_main;
      text-decoration: none;
      text-transform: uppercase;
      font-size: $font-size-section_a;
      color: $colour-section_a;
    }
    a:hover{
      color: $colour_nav;
    }
  }
  /* tourDates*/
  .tourDates{
    color: $colour-section_p;
    text-transform: uppercase;
    text-align: center;

  }
  .tour{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
    h3{
      font-family: $font_main;
    }
    .date{
      padding: 0.67em;
      margin-top: 0.67em;
      font-family: $font_main;
      display: flex;
      align-items: center;
      flex-direction: column;
      border: 0.1em dotted $background-colour-section_h1;
      h4{
        margin-top: 1em;
      }
      p{
        margin-top: 1em;
        font-family: $font_main;
      }
      a{
        font-family: $font_main;
        margin-top: 1em;
        text-decoration: none;
        color: $colour-section_p;
        text-transform: uppercase;

      }
      a:hover{
        color: $colour_a-hover;
      }
    }

  }

  /* end tourDates*/

  /* page contact*/
  .contact{
    color: $colour-section_p;
    text-align: center;
    h2{
      font-family: $font_main;
      text-transform: uppercase;
    }
    a{
      text-decoration: none;
      color: $colour-section_p;
      i{
        margin: 0.67em 0;
        display: block;
      }
    }
    a:hover{
      color: $colour_a-hover;
    }

    /* end contact */

  }

}
aside{
  background-image: url($fondo_imagen-aside);
  background-repeat: no-repeat;
  background-size: cover;

  h2{

    text-align: center;
    font-family: $font_main;
    text-transform: uppercase;
    color: $colour_nav;

  }
}

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $background-colour-nav;
  font-family: $font_main;
  text-transform: uppercase;
  color: $colour_nav;
  img{
    padding: 0 1em;
  }
  p{
    margin-left: auto;
    margin-right: auto;
  }
  a{
    text-decoration: none;
    color: $colour_nav;

  }
  a:hover{
    color: $colour_a-hover;
  }
  i{
    padding: 0.3em;
  }
}