@import "variables";
/*
 theUnguided
 */
.theUnguided {

  strong{
    color: $colour-section_p;
    padding: 0.5em 0.5em;
  }

  article{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

    strong{
      font-family: $font_main;
      margin-top: 1em;

    }
    p{

      margin-top: 0.67em;

    }
    .followSocial{

      text-align: center;
      p{
        margin-bottom: 0.67em;
      }
      a{
        text-decoration: none;
        color: $colour-section_p;
        padding: 1em;
      }
    }
    .links {
      color: $colour-section_p;
      padding: 0 1em;
      a {
        color: $colour-section_p;
        text-decoration: none;
        font-style: oblique;

      }
    }

    a:hover{
      color: $colour_a-hover;
    }
  }

}
/*
 end theUnguided
 */