* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background-image: url("../img/rose2.jpg");
  background-repeat: no-repeat; }
  body .texto {
    border: 0.1em solid white;
    border-radius: 0.5em;
    width: 30%;
    color: white;
    position: relative;
    left: 50%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.43);
    font-size: 1.2em; }

@media (max-width: 405px) {
  .texto p {
    font-size: 0.7em; } }
