*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* font */
@font-face {
  font-family: 'roughtypewriterregular';
  src: url("../fonts/rough_typewriter/rough_typewriter.otf");
}

/* end font */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-image: url("../img/background-image_TheUnguided2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50em;
}

header nav {
  margin-top: 6em;
  background-color: #333333;
  padding: 1em;
}

header nav li {
  display: inline-block;
}

header nav li a {
  padding: 0 0.2em;
  text-decoration: none;
  color: #f3f3f3;
  font-family: roughtypewriterregular;
  text-transform: uppercase;
  font-size: 1.5em;
}

header nav li a:hover {
  color: #5C5F66;
}

header nav .social {
  display: inline;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: red;
}

section {
  background-color: #000000;
  -webkit-box-flex: 1;
  -ms-flex: 1 100%;
  flex: 1 100%;
}

section h1 {
  font-family: roughtypewriterregular;
  text-align: center;
  text-transform: uppercase;
  background-color: #5C5F66;
  color: #f3f3f3;
  padding: 0.5em;
}

section article {
  margin-top: 1em;
}

section article h3 {
  color: #bebeaf;
  text-transform: uppercase;
  padding: 0.5em 0.5em;
}

section article h4 {
  color: #bebeaf;
  padding: 0 0.5em;
}

section article .youtubeVideo {
  text-align: center;
}

section article .youtubeVideo iframe {
  width: 50%;
  height: 30em;
  margin-left: auto;
  margin-right: auto;
}

section article .imagePost {
  margin-top: 0.67em;
  text-align: center;
}

section article .imagePost img {
  width: 70%;
}

section article p {
  padding: 0 0.5em;
  color: #bebeaf;
}

section .moreNews {
  text-align: center;
  margin-top: 0.5em;
}

section .moreNews a {
  font-family: roughtypewriterregular;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2em;
  color: #057911;
}

section .moreNews a:hover {
  color: #f3f3f3;
}

aside {
  background-image: url("../img/aside.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

aside .disc {
  text-align: center;
}

aside .disc img {
  width: 90%;
}

aside h2 {
  text-align: center;
  font-family: roughtypewriterregular;
  text-transform: uppercase;
  color: #f3f3f3;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #333333;
  font-family: roughtypewriterregular;
  text-transform: uppercase;
  color: #f3f3f3;
}

footer img {
  padding: 0 1em;
}

footer p {
  margin-left: auto;
  margin-right: auto;
}

footer a {
  text-decoration: none;
  color: #f3f3f3;
}

footer a:hover {
  color: #5C5F66;
}

footer i {
  padding: 0.3em;
}

@media screen and (max-width: 414px) {
  header {
    background-image: url("../img/movil.jpg");
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  header nav li {
    display: block;
  }
  header nav .social li {
    display: inline;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  main section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  main section img {
    width: 80%;
  }
  main section article .youtubeVideo iframe {
    width: 80%;
    height: 20em;
  }
  main section .youtubeVideo iframe {
    width: 100%;
    height: 20em;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  footer p {
    text-align: center;
    padding: 1em;
  }
}
