/* reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* end reset */
/* font */
@font-face {
  font-family: 'roughtypewriterregular';
  src: url("../fonts/rough_typewriter/rough_typewriter.otf"); }

/* end font */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-image: url("../img/background-image_TheUnguided2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50em; }
  header nav {
    margin-top: 6em;
    background-color: #333333; }
    header nav li {
      display: inline-block; }
      header nav li a {
        padding: 0 0.2em;
        text-decoration: none;
        color: #f3f3f3;
        font-family: roughtypewriterregular;
        text-transform: uppercase;
        font-size: 2em; }
      header nav li a:hover {
        color: #5C5F66; }

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

section {
  background-color: #000000; }
  section h1 {
    font-family: roughtypewriterregular;
    text-align: center;
    text-transform: uppercase;
    background-color: #5C5F66;
    color: #f3f3f3; }
  section article {
    margin-top: 1em; }
    section article h3 {
      color: #bebeaf;
      text-transform: uppercase; }
    section article .youtubeVideo {
      text-align: center; }
      section article .youtubeVideo iframe {
        width: 50%;
        height: 30em;
        margin-left: auto;
        margin-right: auto; }
    section article .imagePost {
      text-align: center; }
    section article p {
      padding: 0.2em;
      color: #bebeaf; }
  section .moreNews {
    text-align: center; }
    section .moreNews a {
      font-family: roughtypewriterregular;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 2em;
      color: #057911; }

aside {
  background-color: #00263E; }
  aside h2 {
    text-align: center;
    font-family: roughtypewriterregular;
    text-transform: uppercase;
    color: #f3f3f3;
    margin: 0.5em 0; }
  aside .socialMedia {
    text-align: center; }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333333;
  font-family: roughtypewriterregular;
  text-transform: uppercase;
  color: #f3f3f3; }
  footer p {
    margin-left: auto;
    margin-right: auto; }
  footer a {
    text-decoration: none;
    color: #f3f3f3; }
  footer a:hover {
    color: #5C5F66; }
  footer i {
    padding: 0.3em; }
