h1 {
  margin-bottom: 1em; }

.imagenes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .imagenes .img2 {
    position: relative;
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
    right: 2em;
    z-index: 2; }
  .imagenes .img3 {
    position: relative;
    right: 3em; }
  .imagenes .img4 {
    position: relative;
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
    right: 4em; }
