block contentDisc
    div.disc
        +imagePost("Inception.jpg")
        div.buyDisc
            p buy at:
            a(target="_blank", href="https://itunes.apple.com/se/album/inception-single/id902120928", title="Itunes")
                i(class="fa fa-music fa-4x", aria-hidden="true")
            a(target="_blank", href="https://www.amazon.com/Inception-Unguided/dp/B00HPBYFI0/ref=sr_1_1?s=dmusic&ie=UTF8&qid=1508757512&sr=1-1-mp3-albums-bar-strip-0&keywords=the+unguided+inception", title="Amazon")
                i(class="fa fa-amazon fa-4x", aria-hidden="true")
            a(target="_blank", href="http://open.spotify.com/track/3PLxY9y4v2jU2agEoMbXou", title="Spotify")
                i(class="fa fa-spotify fa-4x", aria-hidden="true")
        div.tracklist
            h3 INCEPTION
            p (Single // Digital 2013)
            p 01. Inception
            p Total running time: 03:50
            p p Recorded, mixed and mastered in: Studio Fredman
            p Produced by: Fredrik Nordström, Henrik Udd and The Unguided
            p Guitars recorded in: The Abyss Studio
            p Vocals and additional guitars recorded in: Sällström Audio
            p Drums recorded in: The Sweetspot Recording Studio
            p Bass recorded in: Studio Fredman
            p Keyboards recorded in: PH Studios
            p Keyboards produced by: Pontus Hjelm and Roger Sjunnesson
            p Release by: Napalm Records
            p Release date: 2013-12-20
            p Art by: Kuang Hong
            p Layout by: Gustavo Sazes