block contentDisc
    div.disc
        +imagePost("n.jpg")
        div.buyDisc
            p buy at:
            a(target="_blank", href="http://www.cutsandstitches.com/product/invazion-nightmareland", title="Web-shop")
                i(class="fa fa-shopping-cart fa-4x", aria-hidden="true")
            a(target="_blank", href="https://itunes.apple.com/se/album/nightmareland-single/id1101679983", title="Itunes")
                i(class="fa fa-music fa-4x", aria-hidden="true")
            a(target="_blank", href="https://www.amazon.com/Nightmareland-Unguided/dp/B01E7U52W4/ref=sr_1_1?ie=UTF8&qid=1508757170&sr=8-1&keywords=the+unguided+nightmareland", title="Amazon")
                i(class="fa fa-amazon fa-4x", aria-hidden="true")
            a(target="_blank", href="http://open.spotify.com/album/774DU553XU0LN7qy39VW4z", title="Spotify")
                i(class="fa fa-spotify fa-4x", aria-hidden="true")
        div.tracklist
            h3 NIGHTMARELAND
            p (EP // CD 2011)
            p 01. Green Eyed Demon
            p 02. Pathfinder (Feat. Peter Tägtgren)
            p Total running time: 09:07
            p Recorded, produced, mixed and mastered in: The Abyss Studio
            p Produced by: Jonas Kjellgren and The Unguided
            p Keyboards recorded in: PH Studios
            p Keyboards produced by: Pontus Hjelm and Roger Sjunnesson
            p Release by: SixOneSix AB
            p Release date: 2011-04-01
            p Art and layout by: J.A.Arangure