block contentDisc
    div.disc
        +imagePost("enraged.jpg")
        div.buyDisc
            p buy at:
            a(target="_blank", href="https://open.spotify.com/track/6rI6nJ4brcDsowQozb2rAx", title="Spotify")
                i(class="fa fa-spotify fa-4x", aria-hidden="true")
        div.tracklist
            h3 ENRAGED
            p (Single // Digital 2016)
            p 01. Enraged
            p Total running time: 04:23
            p Recorded, mixed and mastered in: Hansen Studios
            p Produced by: Jacob Hansen and The Unguided
            p Additional guitars recorded in: Studio Haga
            p Vocals recorded in: Studio Haga
            p Vocals recorded and produced by: Christian Svedin
            p Keyboards recorded in: PH Studios
            p Keyboards produced by: Pontus Hjelm and Roger Sjunnesson
            p Release by: Napalm Records
            p Release date: 2016-01-29
            p Art by: Kuang Hong
            p Layout by: Gustavo Sazes