block contentDisc
    div.disc
        +imagePost("hf.jpg")
        div.buyDisc
            p buy at:
            a(target="_blank", href="https://shop.napalmrecords.com/the-unguided-hell-frost-cd.html", title="Web-shop")
                i(class="fa fa-shopping-cart fa-4x", aria-hidden="true")
            a(target="_blank", href="http://itunes.apple.com/au/album/hell-frost/id485710182", title="Itunes")
                i(class="fa fa-music fa-4x", aria-hidden="true")
            a(target="_blank", href="http://www.amazon.com/Hell-Frost/dp/B006HTEY46/ref=sr_1_1?ie=UTF8&qid=1329386598&sr=8-1", title="Amazon")
                i(class="fa fa-amazon fa-4x", aria-hidden="true")
            a(target="_blank", href="http://open.spotify.com/album/4Ag35ItaIoGt2saYPGD5Sx", title="Spotify")
                i(class="fa fa-spotify fa-4x", aria-hidden="true")
            a(target="_blank", href="https://shop.napalmrecords.com/the-unguided-hell-frost-picture-vinyl.html", title="Vinyl")
                i(class="fa fa-shopping-bag fa-4x", aria-hidden="true")
        div.lyrics
            p lyrics
            a(target="_blank", href="lyrics/HellFrostlyrics.pdf")
                i(class="fa fa-file-pdf-o fa-4x" aria-hidden="true")
        div.tracklist
            h3 HELL FROST
            p (Album // CD & Vinyl 2011)
            p 01. Inherit The Earth
            p 02. Phoenix Down
                a(target="_blank", href="http://youtu.be/yv8xz7I2Wb4")
                    i(class="fa fa-youtube", aria-hidden="true")
                    |   (Video)
            p 03. Betrayer Of The Code
                a(target="_blank", href="http://youtu.be/nJfEZYdEnzg")
                    i(class="fa fa-youtube", aria-hidden="true")
                    |  (Lyrics Video)
            p 04. My Own Death
            p 05. Serenade Of Guilt
            p 06. Collapse My Dream
            p 07. Green Eyed Demon
            p 08. Iceheart Fragment
            p 09. Pathfinder (Feat. Peter Tägtgren)
            p 10. Where The Frost Rose Withers
            h4 LIMITED EDITION:
            p 11. The Miracle Of Mind (SPARK! cover)
            p Total running time: 49:01
            p Recorded, produced, mixed and mastered in:The Abyss Studio
            p Produced by: Jonas Kjellgren and The Unguided
            p Keyboards recorded in: PH Studios
            p Keyboards produced by: Pontus Hjelm and Roger Sjunnesson
            p Release by: SixOneSix AB
            p Release date: 2011-11-20
            p Art by: Kuang Hong
            p Layout by: Gustavo Sazes