block contenDisc
    div.disc
        +imagePost("pb.jpg")
        div.buyDisc
            p sold out!!!:
        div.tracklist
            h3 PANDORA´S BOX
            p (Boxed Set // CD 2012)
            h4 CD1. Inherit The Earth
                a(target="_blank", href="https://drive.google.com/open?id=1_5ZSW1z5YfEcWINufaTuAs1Db5l3IR1e") (art)
            p 01. Inherit The Earth
            p 02. Inherit The Earth (Instrumental)
            p 03. Inherit The Earth (Pre-Prod Demo)
            h4 CD2. Phoenix Down
                a(target="_blank", href="https://drive.google.com/open?id=1KJmbVTGPBCDJRUxsbhoTG3DAGExrj-5_") (art)
            p 01. Phoenix Down
            p 02. Phoenix Down (Instrumental)
            p 03. Phoenix Down (Zardonic Remix)
            p 04. Phoenix Down (Nic Zardio Remix)
            p 05. Phoenix Down (Triangular Ascension Remix)
            p 06. Phoenix Down (Pre-Prod Demo)
            p + Phoenix Down Video
            h4 CD3. Betrayer Of The Code
                a(target="_blank", href="https://drive.google.com/open?id=1Z9uwhL2iULc0eLe73Ce-KOU5IsEe3Wgj") (art)
            p 01. Betrayer Of The Code
            p 02. Betrayer Of The Code (Instrumental)
            p 03. Betrayer Of The Code (Pre-Prod Demo)
            h4 CD4. My Own Death
                a(target="_blank", href="https://drive.google.com/open?id=16EyrzgklbV9dUJbDAKCPCdv6lU-NAYhZ") (art)
            p 01. My Own Death
            p 02. My Own Death (Instrumental)
            p 03. My Own Death (Pre-Prod Demo)
            h4 CD5. Serenade Of Guilt
                a(target="_blank", href="https://drive.google.com/open?id=1zc8LGBaas3exVJipC0dsNpqkkcOCcmm-") (art)
            p 01. Serenade Of Guilt
            p 02. Serenade Of Guilt (Instrumental)
            p 03. Serenade Of Guilt (Pre-Prod Demo)
            h4 CD6. Collapse My Dream
                a(target="_blank", href="https://drive.google.com/open?id=1nBK8Uyn4FOCdV09rEaiBL_i6uD5ZK3z2") (art)
            p 01. Collapse My Dream
            p 02. Collapse My Dream (Instrumental)
            p 03. Collapse My Dream (Pre-Prod Demo)
            h4 CD7. Green Eyed Demon
                a(target="_blank", href="https://drive.google.com/open?id=1cbVOn6bX2MAcxYaDqs4Cs0JGT4S--VZy") (art)
            p 01. Green Eyed Demon
            p 02. Green Eyed Demon (Instrumental)
            p 03. Green Eyed Demon (Pre-Prod Demo)
            h4 CD8. Iceheart Fragment
                a(target="_blank", href="https://drive.google.com/open?id=1n8sc3oFAGrVNZJuCbHISnxkQTBOFoN1C") (art)
            p 01. Iceheart Fragment
            p 02. Iceheart Fragment (Instrumental)
            p 03. Iceheart Fragment (Pre-prod demo)
            h4 CD9. Pathfinder
                a(target="_blank", href="https://drive.google.com/open?id=1Z0NGYM-7a-quJzaxa2fsFA_UpEF1010R") (art)
            p 01. Pathfinder
            p 02. Pathfinder (Instrumental)
            p 03. Pathfinder (Pre-Prod Demo)
            h4 CD10. Where The Frost Rose Withers
                a(target="_blank", href="https://drive.google.com/open?id=1nqU1_sJGPszInL6vfCfy45CntYpU0NJB") (art)
            p 01. Where The Frost Rose Withers
            p 02. Where The Frost Rose Withers (Instrumental)
            p 03. Where The Frost Rose Withers (Pre-Prod Demo)
            h4 CD11. The Miracle Of Mind
                a(target="_blank", href="https://drive.google.com/open?id=11koT2ygUoYa22_2Av0B7xfwQV8R8kNMf") (art)
            p 01. The Miracle Of Mind (SPARK! Cover)
            p 02. The Miracle Of Mind (Instrumental)
            p 03. SPARK! - Tankens Mirakel
            p 04. The Miracle Of Mind (Pre-Prod Demo)
            h4 CD12. Deathwalker
                a(target="_blank", href="https://drive.google.com/open?id=1GFGS1HtLyKHJVNMMv00iSgeRc7ssisNu") (art)
            p 01. Deathwalker
            p 02. Deathwalker (Instrumental)
            p 03. Deathwalker (Pre-Prod Demo)
            h4 CD13. Dodge - New Day
                a(target="_blank", href="https://drive.google.com/open?id=1-9BuwvJK3aRsNyrTGcbTBl--Q_zp046F") (art)
            p 01. New Day
            p 02. The Fight
            p 03. My Puppeteer
            h4 CD14. Richard Sjunnesson - Under The Demon Wings
                a(target="_blank", href="https://drive.google.com/open?id=1MseztlkkgRn3hBuDUJfGepwFX1oWo56N") (art)
            p 01. Hollowcall - Snowstorm
            p 02. Faithful Darkness - Hate Injection
            p 03. Scars Of Phoenix - Prototypes
            p 04. Killus - Vehemence
            p 05. SPARK! - Domen
            p 06. Deathaction - Skytrace
            p 07. Beneath My Feet - Wake Up, Stand Up
            p 08. A Silent Escape - God's A Lier
            p Total running time: 03:38:28
            p Recorded, produced, mixed and mastered in: The Abyss Studio
            p Produced by: Jonas Kjellgren and The Unguided
            p Keyboards recorded in: PH Studios
            p Keyboards produced by: Pontus Hjelm and The Unguided
            p Release by: Napalm Records
            p Release date: 2012-09-19
            p Art and layout by: Gustavo Sazes, Kuang Hong, J.A.Aranguren, Remy C, Karl-Johan Thole