block contentDisc
    div.disc
        +imagePost("invaz.jpg")
        div.buyDisc
            p buy at:
            a(target="_blank", href="http://www.cutsandstitches.com/product/invazion-nightmareland", title="Web-shop")
                i(class="fa fa-shopping-cart fa-4x", aria-hidden="true")
            a(target="_blank", href="https://itunes.apple.com/se/album/invazion-single/id586008871", title="Itunes")
                i(class="fa fa-music fa-4x", aria-hidden="true")
            a(target="_blank", href="http://www.amazon.com/invaZion/dp/B00AL9ES8K/ref=pd_rhf_se_p_t_1", title="Amazon")
                i(class="fa fa-amazon fa-4x", aria-hidden="true")
            a(target="_blank", href="http://open.spotify.com/album/5wCiYixBnG5argWmO1UErY", title="Spotify")
                i(class="fa fa-spotify fa-4x", aria-hidden="true")
        div.tracklist
            h3 INVAZION
            p (EP // CD 2012)
            p 01. Singularity
            p 02. Eye Of The Thylacine
            p Total running time: 08:38
            p Recorded, produced, mixed and mastered in: The Abyss Studio
            p Produced by: The Unguided
            p Vocals and solos recorded in: Sällström Audio
            p Keyboards recorded in: PH Studios
            p Keyboards produced by: Pontus Hjelm and Roger Sjunnesson
            p Release by: SixOneSix AB
            p Release date: 2012-12-21
            p Art by: Kuang Hong
            p Layout by: Gustavo Sazes