block contentDisc
    div.disc
        +imagePost("brotherhood.jpg")
        div.buyDisc
            p buy at:
            a(target="_blank", href="https://itunes.apple.com/se/album/brotherhood-single/id1183481202", title="Itunes")
                i(class="fa fa-music fa-4x", aria-hidden="true")
            a(target="_blank", href="https://www.amazon.com/Brotherhood-Unguided/dp/B01N1QMGE4/ref=sr_1_2?ie=UTF8&qid=1508757719&sr=8-2&keywords=the+unguided+brotherhood", title="Amazon")
                i(class="fa fa-amazon fa-4x", aria-hidden="true")
            a(target="_blank", href="https://open.spotify.com/album/418sF7D44mis5fJYEdMl7z", title="Spotify")
                i(class="fa fa-spotify fa-4x", aria-hidden="true")
        div.tracklist
            h3 BROTHERHOOD
            p (EP // Digital 2016)
            p 01. Nighttaker
            p 02. Daybreaker
            p Total running time: 07:34
            p Recorded, mixed and mastered in: Radionika Studios
            p Produced by: Dino Medanhodzic and The Unguided
            p Keyboards recorded in: PH Studios
            p Keyboards produced by: Pontus Hjelm and Roger Sjunnesson
            p Release by: Napalm Records
            p Release date: 2016-12-23
            p Art by: Kuang Hong
            p Layout by: Gustavo Sazes