block contentDisc
    div.disc
        +imagePost("pd.jpg")
        div.buyDisc
            p buy at:
            a(target="_blank", href="http://itunes.apple.com/au/album/phoenix-down-ep/id510385422", title="Itunes")
                i(class="fa fa-music fa-4x", aria-hidden="true")
            a(target="_blank", href="http://www.amazon.com/Phoenix-Down/dp/B007LB29R8/", title="Amazon")
                i(class="fa fa-amazon fa-4x", aria-hidden="true")
            a(target="_blank", href="http://open.spotify.com/album/226XtzeQl98LhbkUzAyBVi", title="Spotify")
                i(class="fa fa-spotify fa-4x", aria-hidden="true")
        div.tracklist
            h3 PHOENIX DOWN
            p (EP // CD & Digital 2012)
            p 01.Phoenix Down
            p 02.Phoenix Down (Zardonic Remix)
            p 03.Phoenix Down (Nic Zardo Remix)
            p 04.Phoenix Down (Triangular Ascension Remix)
            p 05.Phoenix Down (CERT-8 Remix)
            p Total running time: 20:56
            p 01.Phoenix Down *
            p 02.Phoenix Down (Instrumental) *
            p 03.Phoenix Down (SPARK! Remix) *
            p 04.Phoenix Down (Pre-production demo) *
            p * exclusive CD version tracklist
            p Total running time: 14:32
            p Mastered in: The Abyss Studio
            p Release by: SixOneSix AB
            p Release date: 2012-01-13
            p Art and layout by: J.A.Aranguren