block contenDisc
    div.disc
        +imagePost("ite.jpg")
        div.buyDisc
            p buy at:
            a(target="_blank", href="http://itunes.apple.com/se/album/inherit-the-earth-single/id475994098", title="Itunes")
                i(class="fa fa-music fa-4x", aria-hidden="true")
            a(target="_blank", href="http://www.amazon.com/Inherit-the-Earth/dp/B0072PVYYW/ref=sr_1_14?ie=UTF8&qid=1329386598&sr=8-14", title="Amazon")
                i(class="fa fa-amazon fa-4x", aria-hidden="true")
            a(target="_blank", href="http://open.spotify.com/track/47LzikgL0pEJH86o0YHIRg", title="Spotify")
                i(class="fa fa-spotify fa-4x", aria-hidden="true")
        div.tracklist
            h3 INHERIT THE EARTH
            p (Single // Digital 2011)
            p 01. Inherit The Earth
            p Total running time: 04:47
            p Recorded, produced, mixed and mastered in: The Abyss Studio
            p Produced by: Jonas Kjellgren and The Unguided
            p Keyboards recorded in: PH Studios
            p Keyboards produced by: Pontus Hjelm and Roger Sjunnesson
            p Release by: SixOneSix AB
            p Release date: 2011-10-26
            p Art and layout by: J.A.Arangure