block contentDisc
    div.disc
        +imagePost("dw.jpg")
        div.buyDisc
            p buy at:
            a(target="_blank", href="http://itunes.apple.com/se/album/deathwalker-single/id561687317", title="Itunes")
                i(class="fa fa-music fa-4x", aria-hidden="true")
            a(target="_blank", href="http://www.amazon.com/Deathwalker/dp/B009A6M13E/ref=sr_1_9?ie=UTF8&qid=1348158408&sr=8-9&keywords=deathwalker", title="Amazon")
                i(class="fa fa-amazon fa-4x", aria-hidden="true")
            a(target="_blank", href="http://open.spotify.com/track/0qdCwzVdVkMYYJy5WRWadh", title="Spotify")
                i(class="fa fa-spotify fa-4x", aria-hidden="true")
        div.tracklist
            h3 DEATHWALKER
            p ((Single // Digital 2012)
            p 01. Deathwalker
            p Total running time: 03:55
            p Recorded, produced, mixed and mastered in: The Abyss Studio
            p Produced by: Jonas Kjellgren and The Unguided
            p Vocals and solos recorded in: Sällström Audio
            p Keyboards recorded in: PH Studios
            p Keyboards produced by: Pontus Hjelm and Roger Sjunnesson
            p Release by: SixOneSix AB
            p Release date: 2012-09-19
            p Art and layout by: J.A.Aranguren