block contentDisc
    div.disc
        +imagePost("FragileImmortality.jpg")
        div.buyDisc
            p buy at:
            a(target="_blank", href="http://www.cutsandstitches.com/product/fragile-immortality-digi-pack", title="Web-shop")
                i(class="fa fa-shopping-cart fa-4x", aria-hidden="true")
            a(target="_blank", href="https://itunes.apple.com/us/album/fragile-immortality/id792288818", title="Itunes")
                i(class="fa fa-music fa-4x", aria-hidden="true")
            a(target="_blank", href="http://www.amazon.com/Fragile-Immortality-digital-booklet-Unguided/dp/B00I348KBQ/ref=sr_1_1_bnp_1_mus?ie=UTF8&qid=1398009409&sr=8-1&keywords=fragile+immortality", title="Amazon")
                i(class="fa fa-amazon fa-4x", aria-hidden="true")
            a(target="_blank", href="http://open.spotify.com/album/4GSDrZ3cCRhckKGSp1dEmq", title="Spotify")
                i(class="fa fa-spotify fa-4x", aria-hidden="true")
            a(target="_blank", href="http://www.cutsandstitches.com/product/fragile-immortality-lp", title="Vinyl")
                i(class="fa fa-shopping-bag fa-4x", aria-hidden="true")
        div.lyrics
            p lyrics
            a(target="_blank", href="lyrics/FragileImmortalitylyrics.pdf")
                i(class="fa fa-file-pdf-o fa-4x" aria-hidden="true")
        div.tracklist
            h3 FRAGILE IMMORTALITY
            p (Album // CD 2014)
            p 01. Inception
                a(target="_blank", href="http://youtu.be/brLwlB8j0JQ")
                    i(class="fa fa-youtube", aria-hidden="true")
                    |   (Video)
            p 02. Defector DCXVI
                a(target="_blank", href="http://youtu.be/jPpWagg24_E")
                    i(class="fa fa-youtube", aria-hidden="true")
                    |   (Lyric Video)
            p 03. Granted
            p 04. Eye Of The Thylacine
                a(target="_blank", href="http://youtu.be/KMFKzNPcW-Y")
                    i(class="fa fa-youtube", aria-hidden="true")
                    |  (Lyrics Video)
            p 05. Unguided Entity
            p 06. Carnal Genesis
            p 07. Enforce
            p 08. Blodbad
            p 09. Only Human
            p 10. Singularity
            p 11. Oblivion
            h4 LIMITED EDITION:
            p 12. Deathwalker (Feat. Hansi Kürsch)
            p 13. Unguided Entity (Zardonic Remix)
            p 14. Deathwalker (Zardonic Remix)
            p 15. When All The Seraphim Cry (Zardonic Feat. The Unguided)
            p Total running time: 64:59
            p p Recorded, mixed and mastered in: Radionika Studios
            p Produced by: Fredrik Nordström, Henrik Udd and The Unguided
            p Guitars recorded in: The Abyss Studio
            p Vocals and additional guitars recorded in: Sällström Audio
            p Drums recorded in: The Sweetspot Recording Studio
            p Bass recorded in: Studio Fredman
            p Keyboards recorded in: PH Studios
            p Keyboards produced by: Pontus Hjelm and Roger Sjunnesson
            p Release by: Napalm Records
            p Release date: 2014-02-05
            p Art by: Kuang Hong
            p Layout by: Gustavo Sazes