extends templates/template
append variables
    - currentPage = 7
    - webpageTitle = "The Unguided Unofficial website | "+names[currentPage]
block link-css
    link(rel="stylesheet", href="css/contact.css")
block content
    h1 #{names[currentPage]}
    div.contact
        h2 band contact
        p richard (at) theunguided.com
        p roger (at) theunguided.com
        h2 band manager
        p Bash Artist Development
        p Tom Antes - tom (a) bashartistdevelopment.de
        h2 booking contact scandinavia
        p Skrikhult Production
        p Olof Wikström - info (at) skrikhult.se
        h2 booking contact finland
        p Rockstone Entertainment
        p Samuel Schildt - samu (at) rockstone.fi
        h2 booking contact row
        p Artist Coalition Group
        p Rene Antes - rene (at) artistcoalitiongroup.de
        h2 record label
        a(target="_blank", href="http://shop.napalmrecords.com/") Napalm Records
        a(target="_blank", href="http://www.facebook.com/napalmrecords")
            i(class="fa fa-facebook-official fa-4x", aria-hidden="true")