extends templates/template
append variables
    - currentPage = 5
    - webpageTitle = "The Unguided Unofficial website | "+names[currentPage]
block link-css
    link(rel="stylesheet", href="css/media.css")
block content
    h1 #{names[currentPage]}
    div.media
        h3 desktop wallpapers
        p Click the images to download a zip package featuring several desktop resolutions.
        div.wallpapers
            each value, index in wallpapers
                a(href=routeWallpapers+linkWallpapers[index], download)
                    +imagePost(value)
        h3 official videos
        p Check all official videos and more at THE UNGUIDED youtube channel
        div.officialYoutube
            a(target="_blank", href="https://www.youtube.com/user/TheUnguidedTV")
                i(class="fa fa-youtube fa-4x", aria-hidden="true")
        div.videoOfficial

            div.youtubeVideo
                each v, index in  videoYoutube
                    +video(v)