extends templates/template
append variables
    - currentPage = 4
    - webpageTitle = "The Unguided Unofficial website | "+names[currentPage]
block link-css
    link(rel="stylesheet", href="css/releases.css")
block content
    h1 #{names[currentPage]}
    div.releases
        block contentDisc
            include disc/discBattleRoyale
            include  disc/discHeartBleed
            include disc/discLegendary
            include disc/discBrotherHood
            include  disc/discLustLoathing
            include  disc/discEnraged
            include disc/discFallenAngels
            include disc/discFragileImportality
            include disc/discInception
            include disc/discInvazion
            include disc/discDeathWalker
            include disc/discPandoraBox
            include disc/discPhoenixDown
            include disc/discMIracleOfMind
            include disc/discHellFrost
            include disc/discInheritTheEarth
            include disc/discBetrayerOfTheCode
            include disc/discNightMareland






