extends templates/template
append variables
    - currentPage = 1
    - webpageTitle = "The Unguided Unofficial website | "+names[currentPage]
block link-css
    link(rel="stylesheet", href="css/tour-dates.css")
block content
    h1 #{names[currentPage]}
        h3 upcoming targets
        div.tour
            div.imageEvent
                +imagePost("tour1.jpg")
            div.date
                h4
                    i(class="fa fa-calendar", aria-hidden="true")
                    |   February.3.2018
                a(target="_blank", href="https://www.facebook.com/denim.and.leather.rock.club/") Denim & Leather Rock Club
                p
                    i(class="fa fa-map-marker")
                    |   Jönköping - swe
                a(target="_blank", href="https://www.tickster.com/sv/events/g1ly3gk6cgy7a2v/2018-02-03/the-unguided-denim-and-leather")
                    i(class="fa fa-ticket", aria-hidden="true")
                    |   tickets
                a(target="_blank", href="https://www.facebook.com/events/516483728731702/") rsvp
        div.tour
            div.imageEvent
                +imagePost("tour2.jpg")
            div.date
                h4
                    i(class="fa fa-calendar", aria-hidden="true")
                    |   June.21.2018
                a(target="_blank", href="http://www.nummirock.fi/") Nummirock
                p
                    i(class="fa fa-map-marker")
                    |   Nummijärvi - fin
                a(target="_blank", href="https://www.tiketti.fi/Nummirock-2018-Nummijarvi-Kauhajoki-lippuja/49124")
                    i(class="fa fa-ticket", aria-hidden="true")
                    |    tickets
                a(target="_blank", href="https://www.facebook.com/events/306293966500914/") rsvp