body {
  background-color: red; }
  body header {
    background-color: #0f7595; }
    body header nav {
      width: 40%; }
      body header nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
  body footer {
    background-color: #0000AA; }
