/*reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/*reset */
header {
  background-color: #333333;
  position: fixed;
  width: 100%;
  height: 10rem;
  top: 0%; }
  header .logo {
    width: 5rem;
    padding: 1em;
    display: inline-block; }
  header nav {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    background-color: rgba(25, 34, 51, 0.22); }
    header nav li {
      list-style: none; }
    header nav a {
      text-decoration: none;
      color: white;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; }
    header nav a:hover {
      color: rgba(225, 168, 55, 0.43); }
  header #checkMenu:checked ~ nav {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); }
  header #checkMenu:checked ~ label:before {
    content: "\f00d"; }
  header #checkMenu {
    display: none; }
  header .icono {
    float: right;
    line-height: 10rem;
    font-size: 2em;
    color: white; }
  header .icono:hover {
    color: rgba(225, 168, 55, 0.43); }

.inicio {
  background-color: rgba(65, 62, 52, 0.2);
  min-height: 30em;
  margin-top: 9.5em;
  text-align: center;
  padding: 1em; }

.acercaDeMi {
  background-color: rgba(225, 138, 22, 0.2);
  min-height: 25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: 1em; }
  .acercaDeMi .informacionIzquierda {
    width: 50%; }
  .acercaDeMi .informacionDerecha {
    width: 50%; }
  .acercaDeMi h2 {
    display: inline; }
  .acercaDeMi ul, .acercaDeMi ol {
    margin-left: 2.5em; }

.experiencia {
  background-color: rgba(225, 168, 55, 0.43);
  margin: auto;
  min-height: 30em;
  padding: 1em; }
  .experiencia h2 {
    text-align: center; }
  .experiencia .lenguajes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 1em auto auto auto;
    text-align: center; }
    .experiencia .lenguajes .lenguajeHtml {
      width: 30%; }
    .experiencia .lenguajes .lenguajeCss {
      width: 30%; }
    .experiencia .lenguajes .lenguajeJavascript {
      width: 30%; }

.proyectos {
  background-image: url("../img/fondoImagenProyectos.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 30em;
  text-align: center;
  padding: 2em; }
  .proyectos a {
    color: black; }
  .proyectos a:hover {
    color: #FFFAEA; }
  .proyectos .proyecto1 {
    width: 30%; }
  .proyectos .proyecto2 {
    width: 30%; }
  .proyectos .proyecto3 {
    width: 30%; }

.contacto {
  margin: auto;
  background-image: url("../img/fondoImagen2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFAEA;
  min-height: 30em; }
  .contacto form {
    margin: auto auto auto auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 30%; }
    .contacto form label {
      margin-top: 1em;
      text-align: center; }
    .contacto form .botones input {
      width: 49%;
      margin: auto;
      padding: 0;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }

footer {
  margin: auto auto auto auto;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFAEA;
  min-height: 5em; }
  footer span {
    line-height: 2em; }
  footer .social a {
    text-decoration: none;
    color: #FFFAEA; }
  footer .social a:hover {
    color: rgba(225, 168, 55, 0.43); }

@media screen and (min-width: 1024px) {
  header nav {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    float: right;
    width: auto;
    line-height: 2em; }
  header .icono {
    display: none; }
  header li {
    display: inline-block;
    list-style: none;
    background-color: #7C8389; }
  header a:hover {
    background-color: #FFFAEA; }
  header a {
    display: block;
    padding: 0 2em; } }

@media (max-width: 360px) {
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  header nav li {
    padding: 1em; }
  .acercaDeMi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .acercaDeMi h2 {
      font-size: 1.3em;
      display: inline;
      text-align: center; }
    .acercaDeMi ol, .acercaDeMi li {
      padding-top: 0.4em;
      padding-bottom: 0.4em; }
    .acercaDeMi .informacionIzquierda {
      margin: auto; }
    .acercaDeMi .informacionDerecha {
      margin: auto; }
  .experiencia .lenguajes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .experiencia .lenguajes div {
      width: auto !important; }
      .experiencia .lenguajes div p {
        text-align: center; }
  .proyectos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .proyectos div {
      width: auto !important; }
      .proyectos div p {
        text-align: center; }
  .contacto form {
    width: 60%; }
    .contacto form textarea {
      width: 100%; }
    .contacto form .botones {
      padding-top: 1em; }
      .contacto form .botones input:first-child {
        width: 100%; }
      .contacto form .botones input:last-child {
        width: 100%;
        margin-top: 1em; } }
