//variables
$color_fondo_header: #333333;
$color_fondo_footer: #333333;
$color_letra_a_header: #FFFAEA;
$color_letra_footer: #FFFAEA;
$color_icono_a: black;
$color_fondo_experiencia: rgba(225, 168, 55, 0.43);

//variables

$alto_cabecera: 10rem;
$alto_logo: 10rem;



/*reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*reset */
  header{

    background-color: $color_fondo_header;
    position: fixed;
    width: 100%;
    height: $alto_logo;
    top: 0%;


    .logo{
      width: 5rem;
      padding: 1em;
      display: inline-block;
    }
    nav{

      transition: all 0.5s;
      transform: translateX(-100%);
      background-color: rgba(25, 34, 51, 0.22);
      li{
        list-style: none;
      }
      a{
        text-decoration: none;
        color: white;
        transition: all 0.5s;
      }
      a:hover{
        color: $color_fondo_experiencia;
      }

    }

    #checkMenu:checked ~ nav{
      transform: translateX(0%);
    }

    #checkMenu:checked ~ label{
      &:before{
        content: "\f00d";
      }
    }

    #checkMenu{
      display: none;
    }
    .icono{
      float: right;
      line-height: $alto_logo;
      font-size: 2em;
      color: white;
    }
    .icono:hover {
      color: $color_fondo_experiencia;
    }


  }

  .inicio{
    background-color: rgba(65, 62, 52, 0.2);
    min-height: 30em;
    margin-top: 9.5em;
    text-align: center;
    padding: 1em;


  }
  .acercaDeMi{

    background-color: rgba(225, 138, 22, 0.2);
    min-height: 25em;
    display: flex;
   margin: auto;
    padding: 1em;

    .informacionIzquierda{
      width: 50%;
    }
    .informacionDerecha{
      width: 50%;
    }
    h2{
      display: inline;
    }
    ul, ol{

      margin-left: 2.5em;
    }

  }

  .experiencia{
    background-color: $color_fondo_experiencia;
    margin: auto;
    min-height: 30em;
    padding: 1em;
    
    h2{
      text-align: center;
    }
    .lenguajes{

      display: flex;
      justify-content: space-between;
      margin: 1em auto auto auto;

      text-align: center;


      .lenguajeHtml{
        width: 30%;
      }
      .lenguajeCss{
        width: 30%;
      }
      .lenguajeJavascript{
        width: 30%;
      }
    }


  }

  .proyectos{

    background-image: url("../img/fondoImagenProyectos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    min-height: 30em;
    text-align: center;
    padding: 2em;
    a{
      color: $color_icono_a;
    }
    a:hover{
      color: $color_letra_footer;
    }
    .proyecto1{
      width: 30%;
    }
    .proyecto2{
      width: 30%;
    }
    .proyecto3{
      width: 30%;
    }
  }

  .contacto{
    margin: auto;
    background-image: url("../img/fondoImagen2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: $color_letra_footer;
    min-height: 30em;
    form{
      margin: auto auto auto auto;
      display: flex;
      flex-direction: column;
      width: 30%;
      label{
        margin-top: 1em;
        text-align: center;
      }
      .botones{

        input{
          width: 49%;
          margin: auto;
          padding: 0;
          box-sizing: border-box;
        }
      }
    }
  }

  footer{
    margin: auto auto auto auto;

    background-color: $color_fondo_footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color_letra_footer;
    min-height: 5em;
    span{
      line-height: 2em;
    }
    .social{

      a{
        text-decoration: none;
        color: $color_letra_footer;
      }
      a:hover{
          color: $color_fondo_experiencia;
      }
    }
  }


//resolucion escritorio
@media screen and (min-width: 1024px){

  header {

    nav {
      position: static;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      transform: translateX(0%);
      float: right;
      width: auto;
      line-height: 2em;
    }
    .icono{
      display: none;
    }
    li {
      display: inline-block;
      list-style: none;
      background-color: #7C8389;
    }
    a:hover {
      background-color: $color_letra_footer;

    }
    a {
      display: block;
      padding: 0 2em;
    }
  }
}

//resolucion movil
@media (max-width: 360px){

    header{
      

      nav{
        ul{
          display: flex;
          flex-direction: column;
          ;
        }
        li{
          padding: 1em;
        }
      }
    }

    .acercaDeMi{
      display: flex;
      flex-direction: column;
      
      h2{
          font-size: 1.3em;
        display: inline;
        text-align: center;
        
      }
      ol, li{
        padding-top: 0.4em;
         padding-bottom: 0.4em;
      }

      .informacionIzquierda{
        margin: auto;

      }
      .informacionDerecha{
        margin: auto;
      }

    }
  .experiencia{
    
    

    .lenguajes{

      display: flex;
      flex-direction: column;
      div{
        width: auto !important;
        p {
          text-align: center;
        }
      }
    }
  }

  .proyectos{
    display: flex;
    flex-direction: column;

    div{
      width: auto !important;

      p {
        text-align: center;
      }
    }


  }
  .contacto{

    form{
      width: 60%;
      textarea{
        width: 100%;
      }
      .botones{
        padding-top: 1em;
        input:first-child{
          width: 100%;
        }
        input:last-child{
          width: 100%;
          margin-top: 1em;
        }


      }

    }


  }

}