block variables
    include ../config/variables
    - var paginaActual = 0;
    - var fotoActual = "img/"+arrayImagenes[paginaActual]
    - var titulo = "PruebaPug | "+imagenes[paginaActual]
doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title #{titulo}
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='css/estilo.css')
    body
        header
            include ../blocks/header

        main
            div.imagen
                    img(src=fotoActual)

            section
                   block contenido



