// variables 
$color_fondo_web: white;
$ancho_web: 75%;
$color_logo: #7148A2;
$borde_cabecera: 1px dotted black;
$color_fondo_destacado: #F0F0F0;
$color_columna: red;
$color_boton: red;
$borde_foto: 1px dashed black;
$fondo_pie: #D9D9D9;