- var enlaces = ["/", "naturaleza.html", "noche.html", "personas.html", "trabajo.html", "animales.html"]
- var imagenes = ["Iglesia", "Naturaleza", "Noche", "Personas", "Trabajo", "Animales"]
- var arrayImagenes = ["iglesia.jpg", "naturaleza.jpg", "noche1.jpg", "persona1.jpg", "trabajo1.jpg", "animales1.jpg"]
- var logo = "Bambi S. L"