body{

  div{

    //2º forma text-align: center;
    height: 10rem;
    //centrar h1 horizontal
    h1{
      // 1º text-align: center;
      /* 2º foma display: inline-block;
      background-color: azure;*/
      /* 3ª forma display: block;
      width: 200px;
      margin-left: auto;
      margin-right: auto;
      background-color: red;
      text-align: center;*/

    }
    // 4ª forma sin ancho desconocido
    /*span{

      display: table;
      margin-left: auto;
      margin-right: auto;
      background-color: azure;

    }*/

    //5ª forma
    /*span{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background-color: azure;
    }*/

  }
  .centrarHorizontalmente{
    border-top: 1px solid black;
    background-color: orange;
    h1{
      text-align: center;

    }
  }
  .centrarVerticalmente{
    margin-top: 1em;
    background-color: orange;
    height: 10rem;
    border-top: 1px solid black;
    span{
      line-height: 8;
      display: block;
      background-color: azure;

    }
  }

  .centrarVerticalmente2{
    margin-top: 1em;
    background-color: orange;
    height: 10rem;
    border-top: 1px solid black;
    display: table;

    span{
      display: table-cell;
      vertical-align: middle;
      //background-color: azure;

    }
  }

  .centrarVerticalmente3{
    margin-top: 1em;
    border-top: 1px solid black;
    background-color: orange;
    height: 10rem;
    position: relative;
    span{
      display: block;
      margin-top: 5rem;

      position: absolute;
      top: 50%;
      margin-top: -1em;
      background-color: azure;
    }
  }
  .centrarVerticalmente4{
    margin-top: 1em;
    border-top: 1px solid black;
    background-color: orange;
    position: relative;
    span{
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      height: 2em;
      background-color: azure;
    }
  }

}