*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  background-color: #DE1526;
}

footer .contenidoFooter {
  background-color: #DE1526;
}

footer .social {
  background-color: #A1271F;
}
