/* reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body .textoPrincipal {
  position: absolute;
  left: 20%;
  right: 20%;
  margin-top: 1em;
  border: 0.2em solid red;
  width: 60%; }
  body .textoPrincipal p:not(.sinColor) {
    background-color: orange;
    height: 1.5em;
    width: 8%;
    text-align: center; }
  body .textoPrincipal p:last-child {
    position: relative;
    left: 92%;
    text-align: center; }
