- var links = ["/", "tourDates.html", "theUnguided.html", "story.html", "releases.html", "media.html", "http://www.cutsandstitches.com/products/the-unguided-webshop", "contact.html"]
- var names = ["home", "tour dates", "the unguided", "story", "releases", "media", "shop", "contact"]
- var linksIcons = ["https://www.facebook.com/TheUnguided", "https://www.instagram.com/the_unguided/", "https://twitter.com/the_unguided", "https://play.spotify.com/artist/40Groy9apS4hoc5GsOBeu1?play=true&utm_source=open.spotify.com&utm_medium=open", "https://www.youtube.com/user/TheUnguidedTV", "https://itunes.apple.com/se/artist/the-unguided/id423971933"]
- var icons = ["fa fa-facebook-official", "fa fa-instagram", "fa fa-twitter", "fa fa-spotify", "fa fa-youtube", "fa fa-music"]
- var iconGithub = 'fa fa-github-alt'
- var routeImage = "img/"
- var routeWallpapers = "wallpapers/"
- var linkWallpapers = ["wall8.zip", "wall7.zip", "wall6.zip", "wall5.zip", "wall4.zip", "wall3.zip", "wall2.zip", "wall1.zip"]
- var wallpapers = ["wall8.jpg", "wall7.jpg", "wall6.jpg", "wall5.jpg", "wall4.jpg", "wall3.jpg", "wall2.jpg", "wall1.jpg"]
- var videoYoutube = ["https://www.youtube.com/embed/97hX2Pfb8SI?ecver=2", "https://www.youtube.com/embed/VzHkEGrsnRU?ecver=2", "https://www.youtube.com/embed/dEYtCgdvQBU?ecver=2", "https://www.youtube.com/embed/kiNhyxuFvcY?ecver=2", "https://www.youtube.com/embed/jyTVnc6EQwQ?ecver=2", "https://www.youtube.com/embed/qTYkMkik1A0?ecver=2" ,"https://www.youtube.com/embed/SYxftdIlFSg?ecver=2", "https://www.youtube.com/embed/OLIUzK_b1cw?ecver=2", "https://www.youtube.com/embed/DJHvgjKXsVo?ecver=2", "https://www.youtube.com/embed/KMFKzNPcW-Y?ecver=2", "https://www.youtube.com/embed/jPpWagg24_E?ecver=2", "https://www.youtube.com/embed/brLwlB8j0JQ?ecver=2", "https://www.youtube.com/embed/nJfEZYdEnzg?ecver=2", "https://www.youtube.com/embed/yv8xz7I2Wb4?ecver=2"]
mixin video(url)
    iframe(src=url, allow="autoplay; encrypted-media" allowfullscreen, frameborder="0")
mixin imagePost(route)
    img(src=routeImage+route)