- var links = ["/", "tourDates.html", "theUnguided.html", "story.html", "releases.html", "media.html", "http://www.cutsandstitches.com/products/the-unguided-webshop", "contact.html"]
- var names = ["home", "tour dates", "the unguided", "story", "releases", "media", "shop", "contact"]
- var linksIcons = ["https://www.facebook.com/TheUnguided", "https://www.instagram.com/the_unguided/", "https://twitter.com/the_unguided", "https://play.spotify.com/artist/40Groy9apS4hoc5GsOBeu1?play=true&utm_source=open.spotify.com&utm_medium=open", "https://www.youtube.com/user/TheUnguidedTV", "https://itunes.apple.com/se/artist/the-unguided/id423971933"]
- var icons = ["fa fa-facebook-official", "fa fa-instagram", "fa fa-twitter", "fa fa-spotify", "fa fa-youtube", "fa fa-music"]
- var iconGithub = 'fa fa-github-alt'
- var routeImage = "img/"
mixin video(url)
    iframe(src=url, allow="autoplay; encrypted-media" allowfullscreen, frameborder="0")
mixin imagePost(route)
    img(src=routeImage+route)