
body
    header
        nav
            - var enlaces = ["index.html", "tourDates.html", "theUnguided.html", "story.html", "releases.html", "media.html", "http://www.cutsandstitches.com/products/the-unguided-webshop", "contact.html"]
            each valor, index in ["home", "tour dates", "the unguided", "story", "releases", "media", "shop", "contact"]
                li: a(href=enlaces[index]) #{valor}

            div.social
                li: a(target='_blank' href='#')
                li: a(target='_blank' href='#')
